*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-height: 100%;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: "Chiron GoRound TC", sans-serif;
}

header {
    background-color: lemonchiffon;
    padding: 20px 15px;
}

.count {
    font-family:'Franklin Gothic Medium', sans-serif ;
}

h1 {
    text-align: center;
    color: coral;
}

footer {
    background-color: lemonchiffon;
    padding: 20px 15px;
}

.copt-text {
    color: lemonchiffon;
    text-align: center;
}

.card {
    position: relative;
    width: 250px;
    height: 250px;
    border: 5px solid coral;
    transform-style: preserve-3d;
    border-radius: 5px;
    box-shadow: lemonchiffon 0 0 6px 6px;
    transition: 0.5s transform ease-in-out;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.card::after {
    content: "";
    display: block;
    width: 240px;
    height: 240px;
    background-image: url(../img/фон.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    position: absolute;
    backface-visibility: hidden;
}

.card-show {
    transform: rotateY(180deg);
}

.card-finish img {
    filter: grayscale(100%);
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    width: 100%;
    justify-content: center;
    gap: 50px;
    margin: 50px auto;
}
.copy-text {
color: coral;
}


:root {
    --bg-color: white ;
    --text-color: coral;
    --color-theme: light;
}

@media(prefers-color-scheme: dark){
    :root {
    --bg-color: coral;
    --text-color:  coral;
    --color-theme: dark;
}
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.post {
    border: 1px solid var(--text-color);
}


